* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

main {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #833ab4, #fd1d1d);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

// html {
//   overflow-y: scroll;
// }

@import './Pane';
