.pane {
  background: white;
  height: 80vh;

  // min-height: 80vh;
  // max-height: 100vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  //   z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}

.dash {
  border-radius: 2rem 0 0 2rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  //   margin: auto;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  // div {
  //   display: flex;
  //   flex-direction: column;
  //   flex-shrink: 0;
  // }
  .profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
      max-width: 40%;
      max-height: 80%;
      border-radius: 20%;
      box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
      margin: auto;
    }
  }
  .links {
    .link {
      display: flex;
      flex-direction: row;
      justify-content: left;
      margin: 3em 0px;
      .faIcon {
        margin: 0px 1rem;
      }
    }
  }
}

.paneContainer {
  overflow-y: overlay;
  flex: 3;
  h1 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  .paneCard {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem 1rem;
    border-radius: 2rem;
    justify-content: space-evenly;
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    .dates {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 5px;
      font-style: italic;
    }
    .projectTools {
      ul {
        display: flex;
        flex-wrap: wrap;
      }
      li {
        list-style-type: none;
      }
      li::after {
        content: ',  ';
      }
      li:last-child::after {
        content: '';
      }
    }
    .readMore {
      text-align: right;
    }
    section {
      padding: 2%;
    }
  }
}

// .selected {
//   background: rgba(255, 255, 255, 0.2);
//   padding: 1rem;
// }
